<section id="contacts" class="contacts-section container">
  <div class="contacts-container">
    <div class="contacts-left-block">
      <h2 class="left-block-title">W razie jakichkolwiek pytań, zadzwoń</h2>
      <a class="left-block-phone" href="tel:+48000000000">+48 00 000 00 00</a>
      <p class="left-block-shedule">Pon. - Pt.: 07:00-20:00</p>
    </div>
    <div class="contacts-right-block">
      <h2 class="right-block-title">Nasz adres e-mail</h2>
      <a class="right-block-email" href="mailto:info@lorem.center"
        >info@lorem.center</a
      >

      <ul class="contacts-social-icons-list">
        <li>
          <a
            class="contacts-social-link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="contacts-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="contacts-social-link"
            href="https://uk-ua.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="contacts-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="contacts-social-link"
            href="https://www.linkedin.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="contacts-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="contacts-social-link"
            href="https://www.youtube.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="contacts-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <a
      href="https://maps.app.goo.gl/QhEobeqhotHsAteF7"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg class="contacts-map-icon" width="386" height="368">
        <use href="./img/sprite.svg#icon-map"></use>
      </svg>
    </a>
  </div>
</section>
