<footer class="footer-section">
  <div class="footer-container container">
    <div class="footer-left-block">
      <p class="footer-left-block-text">
        Jakiekolwiek wykorzystanie lub kopiowanie wybranych materiałów ze strony
        jest dozwolone tylko za zgodą właściciela praw autorskich i tylko z
        powołaniem się na źródło.
      </p>

      <div class="visa-icons-wrapper">
        <svg class="footer-icon" width="27" height="19">
          <use href="./img/sprite.svg#icon-circles"></use>
        </svg>
        <svg class="footer-icon" width="27" height="9">
          <use href="./img/sprite.svg#icon-visa"></use>
        </svg>
      </div>
    </div>

    <div class="footer-right-block">
      <ul class="footer-nav-list">
        <li><a class="footer-nav-link" href="">O nas</a></li>
        <li><a class="footer-nav-link" href="">Usługi</a></li>
        <li><a class="footer-nav-link" href="">Blog</a></li>
        <li><a class="footer-nav-link" href="">Praca</a></li>
        <li><a class="footer-nav-link" href="">Cennik</a></li>
      </ul>

      <ul class="footer-local-contact-list">
        <li>
          <a class="footer-local-contact-link" href="#contacts">Lokalizacja</a>
        </li>
        <li>
          <a class="footer-local-contact-link" href="#contacts"
            >Skontaktuj się z nami</a
          >
        </li>
      </ul>

      <ul class="footer-social-icons-list">
        <li>
          <a
            class="footer-social-link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer-social-link"
            href="https://uk-ua.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="footer-social-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer-social-link"
            href="https://www.linkedin.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="footer-social-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer-social-link"
            href="https://www.youtube.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
