<section class="hero-section">
  <div class="hero-container container">
    <div class="hero-title-descr-wrapper">
      <h1 class="hero-title">Aкції та Акційні пакети</h1>
      <p class="hero-description">
        Ми завжди прагнемо підвищити рівень сервісу надаваних медичних послуг, і
        вдячні вам за залишений позитивний відгук. Ми беремо до уваги всі
        коментарі та побажання, які відносяться до нашої роботи. Дякуємо за ваш
        вибір.
      </p>
    </div>

    <div class="hero-images-wrapper">
      <div class="hero-image-thumb">
        <img class="hero-main-img" src="../img/hero.jpg" alt="hero img" />
      </div>
      <div class="hero-emblem-thumb">
        <svg class="hero-emblem-icon" width="120" height="123">
          <use href="./img/sprite.svg#icon-emblem"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
