<section class="promotional-offers-section">
  <div class="container">
    <h2 class="promotional-offers-title">Акційні пропозиції</h2>

    <div class="promotional-slider-form-wrapper">
      <div class="swiper">
        <div class="swiper-button-prev">
          <svg class="swiper-icon">
            <use href="./img/sprite.svg#icon-prev-btn"></use>
          </svg>
        </div>
        <ul class="promotional-offers-slider-list swiper-wrapper">
          <li class="promotional-offers-slider-item swiper-slide">
            <img src="/img/slider-img.jpg" alt="doctor" width="629px" />
            <h3 class="promotional-offers-slider-title">
              Акція "-40% на пробне заняття з кінезітерапії"
            </h3>
            <p class="promotional-offers-slider-descr">
              Маєте чудову нагоду потурбуватись про власне здоров'я за вигідною
              пропозицією вартістю 680 408 грн.
            </p>
            <button class="promotional-offers-slider-btn" type="button">
              Переглянути детальніше
            </button>
          </li>
          <li class="promotional-offers-slider-item swiper-slide">
            <img src="/img/slider-img.jpg" alt="doctor" width="629px" />
            <h3 class="promotional-offers-slider-title">
              Акція "-40% на пробне заняття з кінезітерапії"
            </h3>
            <p class="promotional-offers-slider-descr">
              Маєте чудову нагоду потурбуватись про власне здоров'я за вигідною
              пропозицією вартістю 680 408 грн.
            </p>
            <button class="promotional-offers-slider-btn" type="button">
              Переглянути детальніше
            </button>
          </li>
          <li class="promotional-offers-slider-item swiper-slide">
            <img src="/img/slider-img.jpg" alt="doctor" width="629px" />
            <h3 class="promotional-offers-slider-title">
              Акція "-40% на пробне заняття з кінезітерапії"
            </h3>
            <p class="promotional-offers-slider-descr">
              Маєте чудову нагоду потурбуватись про власне здоров'я за вигідною
              пропозицією вартістю 680 408 грн.
            </p>
            <button class="promotional-offers-slider-btn" type="button">
              Переглянути детальніше
            </button>
          </li>
        </ul>
        <div class="swiper-button-next">
          <svg class="swiper-icon">
            <use href="./img/sprite.svg#icon-next-btn"></use>
          </svg>
        </div>
      </div>

      <div class="promotional-offers-form">
        <h3 class="form-title">Czekamy na Ciebie!</h3>
        <form class="form">
          <label class="form-label">
            <span class="input-desc">Imię i nazwisko</span>
            <input
              type="text"
              name="name"
              class="form-input"
              placeholder="Agnieszka Kowalczyke"
              required
            />
          </label>

          <label class="form-label">
            <span class="input-desc">Phone</span>
            <input
              type="tel"
              name="phone"
              class="form-input"
              placeholder="+48 XXX XXX XXX"
              required
            />
          </label>
          <label class="form-label">
            <span class="input-desc">E-mail</span>
            <input
              type="email"
              name="mail"
              class="form-input"
              placeholder="name@gmail.com"
              required
            />
          </label>

          <input
            class="form-checkbox visually-hiden"
            name="policy"
            id="user-policy"
            type="checkbox"
          />
          <label class="form-label-check" for="user-policy">
            <span
              >Wypełnienie formularza zgłoszeniowego jest równoznaczne z
              wyrażeniem zgody na przetwarzanie danych osobowych, otrzymywanie
              newslettera, oraz kontakt telefoniczny</span
            >
          </label>
          <button type="submit" class="form-btn">Wyślij</button>
        </form>
      </div>
    </div>
  </div>
</section>
