<section class="promotional-offers-section">
  <div class="container">
    <h2 class="promotional-offers-title">Акційні пропозиції</h2>

    <div class="promotional-slider-form-wrapper">
      <ul class="promotional-offers-slider-list">
        <li class="promotional-offers-slider-item">
          <img src="../img/slider-img.jpg" alt="" width="629px" />
          <h3 class="promotional-offers-slider-title">
            Акція "-40% на пробне заняття з кінезітерапії"
          </h3>
          <p class="promotional-offers-slider-descr">
            Маєте чудову нагоду потурбуватись про власне здоров'я за вигідною
            пропозицією вартістю 680 408 грн.
          </p>
          <button class="promotional-offers-slider-btn" type="button">
            Переглянути детальніше
          </button>
        </li>
        <!-- <li class="promotional-offers-slider-item">
          <img src="../img/slider-img.jpg" alt="" width="629px" />
          <h3 class="promotional-offers-slider-title">
            Акція "-40% на пробне заняття з кінезітерапії"
          </h3>
          <p class="promotional-offers-slider-descr">
            Маєте чудову нагоду потурбуватись про власне здоров'я за вигідною
            пропозицією вартістю 680 408 грн.
          </p>
          <button class="promotional-offers-slider-btn" type="button">
            Переглянути детальніше
          </button>
        </li>
        <li class="promotional-offers-slider-item">
          <img src="../img/slider-img.jpg" alt="" width="629px" />
          <h3 class="promotional-offers-slider-title">
            Акція "-40% на пробне заняття з кінезітерапії"
          </h3>
          <p class="promotional-offers-slider-descr">
            Маєте чудову нагоду потурбуватись про власне здоров'я за вигідною
            пропозицією вартістю 680 408 грн.
          </p>
          <button class="promotional-offers-slider-btn" type="button">
            Переглянути детальніше
          </button>
        </li> -->
      </ul>

      <div class="promotional-offers-form">
        <h3 class="form-title">Czekamy na Ciebie!</h3>
        <form class="form">
          <label class="form-label">
            <span class="input-desc">Imię i nazwisko</span>
            <input
              type="text"
              name="user_name"
              class="form-input"
              placeholder="Agnieszka Kowalczyke"
              required
              pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
            />
          </label>

          <label class="form-label">
            <span class="input-desc">Phone</span>
            <input
              type="tel"
              name="user_phone"
              class="form-input"
              placeholder="+48 XXX XXX XXX"
              required
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
            />
          </label>
          <label class="form-label">
            <span class="input-desc">E-mail</span>
            <input
              type="email"
              name="user_mail"
              class="form-input"
              placeholder="name@gmail.com"
              required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            />
          </label>

          <!--  -->
          <input
            class="modal-form-checkbox visually-hiden"
            name="user_policy"
            id="user-policy"
            type="checkbox"
          />
          <label class="form-label-check">
            <span
              >Wypełnienie formularza zgłoszeniowego jest równoznaczne z
              wyrażeniem zgody na przetwarzanie danych osobowych, otrzymywanie
              newslettera, oraz kontakt telefoniczny</span
            >
          </label>
          <button type="submit" class="form-btn">Wyślij</button>
        </form>
      </div>
    </div>
  </div>
</section>
