<section class="services-section">
  <div class="container">
    <h2 class="services-title">пакети</h2>

    <ul class="services-list">
      <li class="services-item">
        <h3 class="services-item-title">УЗД всього організму для жінок</h3>
        <ul>
          <li class="service">УЗД всього організму для жінок</li>
          <li class="service">Щитовидна залоза</li>
          <li class="service">Молочні залози</li>
          <li class="service">
            Органи черевної порожнини ( печінка, жовчний міхур, підшлункова
            залоза, селезінка)
          </li>
          <li class="service">Нирки та наднирокові залози</li>
          <li class="service">Органи малого тазу</li>
          <li class="service">Ціна — 2600 грн.</li>
          <li class="service">Ціна по акції — 1280 грн</li>
        </ul>
        <button type="button" class="show-details-btn">
          Переглянути детальніше
        </button>
      </li>
      <li class="services-item">
        <h3 class="services-item-title">УЗД всього організму для жінок</h3>
        <ul class="services-item-list">
          <li class="service">УЗД всього організму для жінок</li>
          <li class="service">Щитовидна залоза</li>
          <li class="service">Молочні залози</li>
          <li class="service">
            Органи черевної порожнини ( печінка, жовчний міхур, підшлункова
            залоза, селезінка)
          </li>
          <li class="service">Нирки та наднирокові залози</li>
          <li class="service">Органи малого тазу</li>
          <li class="service">Ціна — 2600 грн.</li>
          <li class="service">Ціна по акції — 1280 грн</li>
        </ul>
        <button type="button" class="show-details-btn">
          Переглянути детальніше
        </button>
      </li>
      <li class="services-item">
        <h3 class="services-item-title">УЗД всього організму для жінок</h3>
        <ul class="services-item-list">
          <li class="service">УЗД всього організму для жінок</li>
          <li class="service">Щитовидна залоза</li>
          <li class="service">Молочні залози</li>
          <li class="service">
            Органи черевної порожнини ( печінка, жовчний міхур, підшлункова
            залоза, селезінка)
          </li>
          <li class="service">Нирки та наднирокові залози</li>
          <li class="service">Органи малого тазу</li>
          <li class="service">Ціна — 2600 грн.</li>
          <li class="service">Ціна по акції — 1280 грн</li>
        </ul>
        <button type="button" class="show-details-btn">
          Переглянути детальніше
        </button>
      </li>
    </ul>
  </div>
</section>
