.contacts-section {
  padding-bottom: 80px;
}

.contacts-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-background-color);
  height: 650px;
  padding: 30px 0;
}

.contacts-first-block {
  width: 286px;
  text-align: center;
}

.first-block-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-dark-font-color);
  margin-bottom: 13px;
}

.first-block-phone {
  display: inline-block;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 32px;
  line-height: 1.1;
  color: var(--main-dark-font-color);
  margin-bottom: 18px;
  transition: all var(--transition-main);
}

.first-block-phone:hover,
.first-block-phone:focus {
  color: var(--accent-color);
}

.first-block-shedule {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--main-dark-font-color);
}

.contacts-second-block {
  width: 243px;
  text-align: center;
  margin-top: auto;
}

.second-block-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-dark-font-color);
}

.second-block-email {
  display: inline-block;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 32px;
  line-height: 1.1;
  color: var(--main-dark-font-color);
  margin-bottom: 33px;
  transition: all var(--transition-main);
}

.second-block-email:hover,
.second-block-email:focus {
  color: var(--accent-color);
}

.contacts-social-icons-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contacts-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-color);
  transition: all var(--transition-main);
}

.contacts-social-link:hover,
.contacts-social-link:focus {
  color: #b1780f;
}

.contacts-icon {
  fill: currentColor;
}

.contacts-map-icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 280px;
}

@media only screen and (min-width: 1440px) {
  .contacts-section {
    padding-bottom: 160px;
  }

  .contacts-container {
    flex-direction: row;
    padding: 85px 0 85px 110px;
    height: auto;
  }

  .contacts-first-block {
    width: 286px;
    margin-right: 480px;
    text-align: left;
  }

  .contacts-second-block {
    text-align: left;
    margin-top: 0;
  }

  .contacts-social-icons-list {
    justify-content: flex-start;
  }

  .contacts-map-icon {
    width: 386px;
    height: 368px;
  }
}
