.footer-section {
  padding: 30px 0 50px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 33px;
}

.footer-left-block {
  width: 100%;
}

.footer-left-block-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: var(--main-dark-font-color);
  margin-bottom: 15px;
}

.visa-icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer-right-block {
  width: 100%;
}

.footer-nav-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}

.footer-nav-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--accent-color);
}

.footer-local-contact-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
}

.footer-local-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--main-dark-font-color);
  transition: all var(--transition-main);
}

.footer-local-contact-link:hover,
.footer-local-contact-link:focus {
  color: var(--accent-color);
}

.footer-social-icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2b3f5b;
  transition: all var(--transition-main);
}

.footer-social-link:hover,
.footer-social-link:focus {
  color: var(--accent-color);
}

.footer-social-icon {
  fill: currentColor;
}

.footer-links-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.footer-link {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-transform: capitalize;
  color: var(--accent-color);
}

@media only screen and (min-width: 768px) {
  .footer-left-block {
    width: 500px;
  }
}

@media only screen and (min-width: 1440px) {
  .footer-section {
    padding: 60px 0 98px;
  }
  .footer-container {
    flex-direction: row;
  }

  .footer-left-block {
    width: 296px;
  }

  .footer-left-block-text {
    text-align: left;
  }

  .visa-icons-wrapper {
    justify-content: flex-start;
  }

  .footer-right-block {
    width: 432px;
  }

  .footer-nav-list {
    justify-content: flex-start;
  }

  .footer-local-contact-list {
    justify-content: space-between;
  }

  .footer-social-icons-list {
    justify-content: flex-start;
  }

  .footer-links-list {
    margin-left: auto;
  }

  .footer-link {
    text-align: left;
  }
}
