.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
}

.header-logo-icon {
  width: 50px;
  height: 50px;
}

.header-nav {
  display: none;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--main-dark-font-color);
  cursor: pointer;
  transition: all var(--transition-main);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.dropdown-programs,
.dropdown-about-us {
  position: relative;
  display: inline-block;
}

.dropdown-btn-programs,
.dropdown-btn-about-us {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--main-dark-font-color);
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0;
}

.dropdown-content-programs,
.dropdown-content-about-us {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content-programs a,
.dropdown-content-about-us a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-programs a:hover,
.dropdown-content-about-us a:hover {
  background-color: #f1f1f1;
}

.dropdown-content-programs.show,
.dropdown-content-about-us.show {
  display: block;
}

.header-info {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
  margin-left: auto;
}

.header-profile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50px;
  background-color: rgba(204, 142, 30, 0.1);
}

.header-contacts-link {
  display: none;
}

.header-info-select {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--main-dark-font-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-info-select > option {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--main-dark-font-color);
}

.header-theme-buttons-list {
  display: none;
}

.header-btn-burger-menu {
  border: none;
  color: var(--accent-color);
  background-color: transparent;
  padding: 0;
  width: 30px;
  height: 30px;
}

.header-menu-icon {
  fill: currentColor;
}

/* MOBILE MENU */

.header-mobile-menu.hidden {
  display: none;
}

.header-mobile-menu {
  z-index: 100;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  backdrop-filter: blur(7px) brightness(0.86) grayscale(28%) opacity(92%);
  transition: var(--transition-main);
}

.header-menu {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 80px 10px 10px;
  overflow: auto;
  background-color: var(--accent-color);
  transform: translateX(100%);
}

.header-btn-close {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--main-dark-font-color);
  background-color: transparent;
  border: none;
  width: 16px;
  height: 16px;
}

.btn-close-icon {
  fill: currentColor;
}

.header-mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header-mob-theme-btn-list {
  display: flex;
  gap: 20px;
}

.header-mob-theme-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d3cfc3;
  background-color: transparent;
  border: none;
  border-radius: 39px;
  width: 24px;
  height: 24px;
  padding: 0;
}

.header-mob-theme-button.active {
  color: #fff;
  background-color: #c9a561;
}

@media only screen and (min-width: 1440px) {
  .header-logo-icon {
    width: 67px;
    height: 64px;
  }

  .header-nav {
    display: block;
  }

  .header-contacts-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--accent-color);
    background-color: rgba(204, 142, 30, 0.1);
    border: 0.5px solid var(--accent-color);
    border-radius: 50px;
    padding: 8px 20px;
    transition: all var(--transition-main);
  }

  .header-contacts-link:hover,
  .header-contacts-link:focus {
    background-color: #e3a02562;
  }

  .header-info {
    margin-left: 0;
  }

  .header-theme-buttons-list {
    display: flex;
    align-items: center;
  }

  .header-theme-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d3cfc3;
    background-color: transparent;
    border: none;
    border-radius: 39px;
    width: 24px;
    height: 24px;
    padding: 0;
  }

  .header-theme-button.active {
    color: #fff;
    background-color: var(--accent-color);
  }

  .header-theme-icon {
    fill: currentColor;
  }

  .header-btn-burger-menu {
    display: none;
  }
}
